@using Microsoft.AspNetCore.Mvc.Localization
@model Coursework.ViewModels.AccountViewModel
@inject IHtmlLocalizer<SharedResource> _sharedLocalizer

@{
    ViewBag.Title = @Model.User.UserName;
}

<div style="display: flex" class="mb-2">
    <img height="60" width="60" class="rounded-circle" style="margin-right: 10px" src="@Model.User.AvatarUrl" alt="No avatar image"/>
    <h2>@Model.User.UserName</h2>
</div>


<div class="text-end mb-2">
    <a asp-controller="Review" asp-action="Create">
        <button class="btn btn-warning" type="button">@_sharedLocalizer["Create"]</button>
    </a>
</div>

<table id="reviewTable" class="table">
    <thead>
    <tr>
        <th>@_sharedLocalizer["Title"]</th>
        <th>@_sharedLocalizer["Rating"]</th>
        <th>@_sharedLocalizer["Actions"]</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var r in @Model.Reviews)
        {
        <tr>
            
            <td>
                <a asp-controller="Review" asp-action="Details" asp-route-id="@r.Id">
                    @r.Title
                </a>
            </td>
            
            <td>@r.AuthorRating</td>
            <td>
                <div class="btn-group">
                    <a asp-controller="Review" asp-action="Edit"
                       asp-route-id="@r.Id" class="btn btn-primary" type="button">
                        @_sharedLocalizer["Edit"]
                    </a>

                    <a asp-controller="Review" asp-action="Delete" asp-route-returnUrl="@Context.Request.GetDisplayUrl()"
                       asp-route-id="@r.Id" class="btn btn-danger btn-group" type="button">
                        @_sharedLocalizer["Delete"]
                    </a>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#reviewTable').DataTable();
        } );
    </script>
}
