@inject MarkdownToHtmlService _markdownToHtmlService
@model Coursework.Models.Review

@{
    ViewData["Title"] = "Review";
}

<link rel="stylesheet" href="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.min.js" />

<div class="border rounded-2 p-2">
    <div class="col-md-12 ps-0 pe-0">
        <h2 class="pb-3 mb-4 border-bottom">@Model.Title</h2>
        
        <div>
            @Html.Raw(_markdownToHtmlService.ConvertMarkdownToHtml(Model.Text))
        </div>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <br />
    <label for="ratingInput">Rating this review: </label>
    <input id="ratingInput" name="input-name" type="number" class="rating" data-size="sm"
           data-show-clear="false" min="0" max="5" value="@ViewBag.Rating" step="1" data-show-caption="true"/>
}

@section Scripts
{
    <script src="~/lib/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#ratingInput").rating().on("rating:change", function(event, value, caption) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SetRating", "Review")',
                    data: {
                        reviewId: @Model.Id,
                        rating: value
                    },
                    success: function (data) {
                        alert('Your data updated');
                    }
                });
            });
        });
    </script>
}
