@inject MarkdownToHtmlService _markdownToHtmlService
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> _sharedLocalizer
@model Coursework.Models.Review

@{
    ViewData["Title"] = "Review";
}

<link rel="stylesheet" href="~/lib/bootstrap-star-rating/themes/krajee-svg/theme.min.js" />

<div class="border rounded-2 p-2">
    <div class="col-md-12">
        <div class="pb-3 mb-4 border-bottom d-flex">
            <a class="d-flex align-items-center text-muted text-decoration-none">
                <img class="mb-0 me-2 rounded-circle" src="@Model.Author.AvatarUrl" width="32" height="32" alt="Avatar">
                <span>@Model.Author.UserName</span>
                <i class="fa fa-thumbs-up"></i>
            </a>

            <div class="d-flex col-md-10 align-items-center justify-content-center text-center text-wrap text-break ms-2">
                <h2>@Model.Title</h2>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        @Html.Raw(_markdownToHtmlService.ConvertMarkdownToHtml(Model.Text))
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <br />
    <label for="ratingInput">@_sharedLocalizer["RatingThisReview"] </label>
    <input id="ratingInput" name="input-name" type="number" class="rating" data-size="sm"
           data-show-clear="false" min="0" max="5" value="@ViewBag.Rating" step="1" data-show-caption="true"
           data-keyboard-enabled="false" />
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#ratingInput").rating().on("rating:change", function(event, value, caption) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SetRating", "Review")',
                    data: {
                        reviewId: @Model.Id,
                        rating: value
                    },
                    success: function (data) {
                        alert('Your data updated');
                    }
                });
            });
        });
    </script>
}

