@model Coursework.ViewModels.EditReviewViewModel
@inject IHtmlLocalizer<SharedResource> _sharedLocalizer

@{
    ViewBag.Title = "Edit";
}

<form class="mb-3" asp-controller="Review" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="container">
        <label class="col-2">@_sharedLocalizer["Title"]</label>
        <input class="col-4" type="text" asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>
    <br />
    <div class="container">
        <label class="col-2">@_sharedLocalizer["Text"]</label>
        <textarea class="col-6" asp-for="Text" id="textInput"></textarea>
    </div>
    <br />
    <div class="container">
        <label class="col-2">@_sharedLocalizer["Rating"]</label>
        <input class="col-4" type="number" min="0" max="10" asp-for="Rating" />
    </div>
    <br />
    <select class="form-select" asp-for="SelectedGroup">
        @foreach (var groupName in Model.Groups)
        {
            <option value="@groupName">@groupName</option>
        }
    </select>
    <br />

    <input type="submit" class="btn btn-primary" />
</form>

<script src="~/lib/simplemde/dist/simplemde.min.js"></script>
<script>
    var simpleMde = new SimpleMDE({ element: document.getElementById("textInput") });
</script>