@using System.Globalization
@model IEnumerable<Coursework.Models.Review>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="d-grid gap-3" style="grid-template-columns: 2fr 1fr;">
        <div class="pt-2">
            

            @{ var i = 0; }
            @foreach (var r in Model)
            {
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="row text-center">
                                    <div>
                                        <img class="rounded-circle shadow-1-strong" src="@r.Author.AvatarUrl" alt="avatar" width="60" height="60">
                                    </div>
                                </div>

                                <div class="row text-center">
                                    <h6 class="fw-bold text-primary mb-1">@r.Author.UserName</h6>
                                </div>
                            </div>

                            <div class="col-md-10 row">
                                <div class="col-md-8">
                                    <a asp-controller="Review" asp-action="Details" asp-route-id="@r.Id">
                                        <h3>@r.Title</h3>
                                    </a>
                                </div>

                                @{
                                    var hasRating = r.Ratings != null && r.Ratings.Any();
                                    double rating = 0;
                                    if (hasRating)
                                        rating = r.Ratings.Average(r => r.Rating);
                                }

                                <div class="col-md-4 text-end">
                                    @if (hasRating)
                                    {
                                        <input id="ratingInput" name="input-@i" type="number" class="rating" data-size="xs"
                                               data-show-clear="false" min="0" max="5"
                                               value="@rating.ToString("#.00", CultureInfo.InvariantCulture)" step="1"
                                               data-show-caption="false" data-keyboard-enabled="false" data-mouse-enabled="false"
                                               data-display-only="true"/>
                                    }
                                    else
                                    {
                                        <label>Нет рейтинга</label>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="pt-2">
            <text class="text-black">Hello world!</text>
        </div>
    </div>
</div>
