@model Coursework.Models.RegisterViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> _sharedLocalizer

@{
    ViewBag.Title = "Sign Up";
}

<h1>@_sharedLocalizer["Register"]</h1>

<form class="mb-3" asp-controller="Authorization" asp-action="Register" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="container">
        <label class="col-2">@_sharedLocalizer["Username"]</label>
        <input class="col-4" type="text" asp-for="Username" />
        <span asp-validation-for="Username"></span>
    </div>
    <br />
    <div class="container">
        <label class="col-2">@_sharedLocalizer["Password"]</label>
        <input class="col-4" type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <div class="container">
        <label class="col-2">@_sharedLocalizer["ConfirmPassword"]</label>
        <input class="col-4" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <br />
    <div class="container">
        <label class="col-2">@_sharedLocalizer["Avatar"]</label>
        <input class="col-4" type="file" name="avatarFile" accept="image/*" />
    </div>

    <br />
    <input type="submit" class="btn btn-primary" />
</form>